:root {
    --pri: #f8f4e1;
    --sec: #4e1f00;
    --tri1: #feba17;
    --tri2: #74512d;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url("AeonikTRIAL-Light.otf");
}

@font-face {
    font-family: aeonik;
    src: url("AeonikTRIAL-Regular.otf");
    font-weight: 500;
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url("AeonikTRIAL-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem {
    background-color: var(--tri1);
    height: 300px;
    width: 270px;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease-in 0.5s;
    cursor: pointer;
    
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 25px;
    font-weight: 400;

}

.elem:active {
    scale: 0.9;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: #4e1f00;
    position: absolute;
    padding: 30px;
    font-size: 40px;
    display: none;
}
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10px;
    padding: 10px 10px;
    font-size:20px;
    font-weight: 500;
    border: 1px solid white;
}